.other-label{
    position: relative;
    width: 209px;
    height: 12px;
    left: 20px;
    top: 42px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #323232;
}

.tag-label {
    position: relative;
    width: 153.73px;
    height: 12px;
    left: 20px;
    top: 73px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #323232;
}

.tag-input {
    position: relative;
    box-sizing: border-box;

    width: 325px;
    height: 40px;
    left: 20px;
    top: 80px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.other-label-1 {
    position: relative;
    width: 137px;
    height: 14px;
    left: 20px;
    top: 94px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #323232;
}

.tag-input-1 {
    box-sizing: border-box;

    position: relative;
    width: 325px;
    height: 40px;
    left: 20px;
    top: 100px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}